<div class="navbar">
  <a href="{{ url_for('dashboard') }}" class="nav-link {% if home %}active{% endif %}">Home</a>
  {% if not session['user'] %}
  <a href="{{ url_for('login') }}" class="nav-link {% if login %}active{% endif %}">Log In</a>
  {% else %}
    {% if session['usert']=="RDE" %}
      <div class="subnav">
        <button class="subnavbtn">Patient Management <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="{{ url_for('addpatient') }}" class="nav-link {% if addcustomer %}active{% endif %}">Add Patient</a>
         
        </div>
      </div>
     
    {% endif %}
    <a href="#contact">Contact Us</a>
    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
  {% endif %}
</div>
