{% extends "layout.html" %}

{% block title %}add patient{% endblock %}
{% block content %}
<div class = "row mb-3">
    <div class="card">
        <div class="card-header" style="color:#000;text-align:center; font-weight: bold; font-size:22px ">
            Add Patient
        </div>
        <div class="card-body">
            <form action="addpatient" method="POST">
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="ssn_id" style="color:#000; font-weight: bold; font-size:18px ">Patient Id<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="ssn_id" id="ssn_id" type="textfield" placeholder="Patient SSN ID" required minlength="9" maxlength="9">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="name" style="color:#000; font-weight: bold; font-size:18px ">Patient Name <span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="name" id="name" type="textfield" placeholder="Name" required maxlength="50">
                </div>
               
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="age"style="color:#000; font-weight: bold; font-size:18px ">Patient Age<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="age" id="age" type="textfield" placeholder="Age" required maxlength="3">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="Date_of_Admission" style="color:#000; font-weight: bold; font-size:18px ">Date of Admission<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="Date_of_Admission" id="Date_of_Admission" type="date" placeholder="Date of Admission" required maxlength="100">
                </div>
                <div class="form-group input-group mb-3">
                   
                    <label class="m-auto pr-3" for="typeofbed" style="color:#000; font-weight: bold; font-size:18px ">Type of Bed<span style="color:#ff0000"><sup>*</sup></span></label>
        
                    <select class="form-control" id="typeofbed" name="typeofbed" required>
                     <option value="General ward">General ward</option>
                     <option value="semi sharing">Semi sharing</option>
                     <option value="single room">Single room</option>
                   </select>
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="address" style="color:#000; font-weight: bold; font-size:18px ">Address<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="address" id="address" type="textfield" placeholder="Address" required maxlength="100">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="state" style="color:#000; font-weight: bold; font-size:18px ">State<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="state" id="state" type="textfield" placeholder="State" required maxlength="20">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="city" style="color:#000; font-weight: bold; font-size:18px ">City<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="city" id="city" type="textfield" placeholder="City" required maxlength="20">
                </div>
                <span style="color:#ff0000; font-weight:bold;"><p><b>(<sup> * </sup>) Fields are compulsory </b></p></span>
                <div class="form-group" style="background-color:#ffff66; color:#000; font-weight: bold; font-size:22px ">
                    <input type="submit" value="Submit" class="btn float-left login_btn" style="font-weight:bold; font-size:18px;">
                    <button class="reset_btn btn float-right" style="font-weight:bold; font-size:18px;">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}