{% extends "layout.html" %}

{% block title %}Issue Medicines{% endblock %}

{% block content %}
<form class="col-sm-12" action="{{ url_for('issuemedicines') }}" method="post">
<div class = "col-md-12 mx-auto">
    <h3 class="text-center">Search Patient </h3>
    <div class="row col-md-12 col-xs-12 mt-3">
        <div class="table-responsive text-center">
            <table class="table table-striped table-hover table-condensed table-bordered" id="Table">
                <thead>
                <tr class="info">
                    <th>Patient Id</th>
                    <th>Patient Name</th>
                    <th>Age</th>
                    <th>address</th>
                    <th>Date of Admission</th>
                    <th>Type of Bed</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <input class="form-control issue_med" name="ssn_id" id="ssn_id" type="textfield" placeholder="Patient ID" required minlength="9" maxlength="9">
                                <span class="error_msg" style="position: inherit;margin: 0;margin-top: 10px;"></span>
                            </div>
                        </td>
                        <td><div class="p_name"></div></td>
                        <td><div class="p_age"></div></td>
                        <td><div class="p_address"></div></td>
                        <td><div class="p_doa"></div></td>
                        <td><div class="p_tob"></div></td>
                    </tr>
    
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class = "col-md-12 mx-auto mt-5" id="med_issued">
    <h3 class="text-center">Issued Medicines </h3>
    <div class="row col-md-12 col-xs-12 mt-3">
        <div class="table-responsive text-center">
            <table class="table table-striped table-hover table-condensed table-bordered" id="Table">
                <thead>
                <tr class="info">
                    <th>Medicine</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="form-group input-group mt-3">
    <input type="button" value="Issue New Medicines" class="btn mx-auto issue_med">
</div>
<div class = "col-md-12 mx-auto mt-3" id="issue_med">
    <div class="row col-md-12 col-xs-12 mt-3">
        
            <div class="form-group input-group">
                <input type="button" value="Add Row" class="btn add_row">
            </div>
            <div class="table-responsive text-center">
                <table class="table table-striped table-hover table-condensed table-bordered" id="Table">
                    <thead>
                    <tr class="info">
                        <th>Medicine</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <input class="form-control issue_med" name="name" type="textfield" placeholder="Medicine Name" required minlength="2" maxlength="50">
                                    <span class="error_msg" style="position: inherit;"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input class="form-control issue_med" name="quantity" type="textfield" placeholder="Quantity" disabled required min="1" minlength="1" maxlength="3">
                                    <span class="error_msg" style="position: inherit;"></span>
                                </div>
                            </td>
                            <td><input class="form-control" name="rate" type="textfield" required disabled></td>
                            <td><input class="form-control" name="amount" type="textfield" required disabled></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group input-group mt-5">
                    <input type="submit" value="Update" class="btn mx-auto">
                </div>
            </div>
        
    </div>
</div>
</form>
{% endblock %}