{% extends "layout.html" %}

{% block title %}View Patient {% endblock %}

{% block content %}
        {% if data %}
<div class="container-fluid">
    <div class="row">
        <div class="input col-md-1 col-xs-2">
            <!--		Show Numbers Of Rows 		-->
            <select class="form-control" name="state" id="maxRows" style="margin-bottom: 10px;height: auto;width: auto;">
                <option value="5">5</option>
                <option value="10">10</option>
               
            </select>
        </div>
    </div>
    
    <div class="row col-md-12 col-xs-12">
        <div class="table-responsive">
            <h3 class="text-center mb-4">View Patient</h3>
            <table class="table table-striped table-hover table-condensed table-bordered" id="Table">
                <thead>
                <tr class="info">

                    <th>    Patient Id</th>
                    <th>   Patient Name</th>
                    <th>  Age</th>
                    <th>  Date of Admission</th>
                    <th>  Type of Bed</th>
                    <th>    address</th>
                    <th> State</th>
                    <th>City</th>
                    <th>Status</th>
                      
                </tr>
                </thead>
                <tbody id="TablaFamilias">
                    {% for i in data %}
                    <tr>
                      <td> {{ i.id }}</td>
                      <td>  {{ i.name }}</td>
                      <td>  {{ i.age }}</td>
                      <td>  {{ i.DateofAdm }}</td>
                      <td>   {{ i.TypeofBed }}</td>
                      <td>     {{ i.address }}</td>
                      <td>{{ i.state }}</td>
                      <td>{{i.city}}</td>
                      <td>{{i.status}}</td>
                    </tr>
                 
                      
                    {%endfor%}
    
                </tbody>
             
                <tfoot></tfoot>
            </table>
    
            <div>
                <nav>
                    <ul class="pagination"></ul>
                </nav>
            </div>
       
        </div>
    </div>
</div>

{% endif %}
<script>
    $(document).ready(function () {
        getPagination('#Table');
        $('#maxRows option:last').prop('selected', true).trigger('change');
    });
</script>
{% endblock %}